@import 'bootstrap/dist/css/bootstrap.css';

body {
  background-color: black;
  color: #023047;
}

.profile-img {
  border-radius: 50%;
  width: 30px;
}
.cardButtons{
  display: flex;
}
.m-2{
  width: 2.5em;
  height: 2.5em;
}
.authCards{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profileImg{
  height: 150px;
  width: auto;
  border-radius: 10px;
}
